@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500&display=swap');
:root {
  --clr-dark: #424b54;
  --fw-thin: 100;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --rgb-background: rgba(65, 62, 62, 0.514);
  --effect-color: #4396a8de;
  --effect-box: rgba(122, 120, 120, 0.925);
  --icon-clr: #ff8c1a;
}
* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
}
.banner-img {
  background: url('/img/exhibition.jpg') no-repeat center / cover;
  max-width: 100%;
  min-height: 800px;
}
.all-nav-bar {
  display: grid;
  text-align: center;
  position: relative;
  width: 100%;
  z-index: 999;
}
.home-logo {
  margin-top: 20px;
  cursor: pointer;
  justify-content: center;
  height: 60%;
}
.container-nav {
  position: absolute;
  top: 100%;
  left: 0%;
  background: var(--clr-dark);
  width: 100%;
  border-radius: 10px;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
.all-list-ul {
  margin: 0;
  padding: 0;
}
.all-item-li {
  margin-bottom: 2em;
  margin-left: 0.3em;
  margin-top: 1em;
  position: relative;
}
.all-item-li a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -30%;
  width: 100%;
  height: 3px;
  background-color: var(--effect-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.4s linear;
}
.all-item-li:hover a::before {
  transform: scaleX(1);
  transform-origin: left;
}
.container-nav a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
.nav-toggle {
  display: none;
}
.nav-toggle-label {
  position: absolute;
  font-size: 20px;
  right: 5%;
  height: 80%;
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
.txt-inner-header {
  color: #fff;
  margin: 5px;
  padding: 20px;
}
.txt-inner-header h1 {
  font-weight: var(--fw-regular);
}
.txt-inner-header p {
  font-weight: var(--fw-light);
  padding: 40px;
  margin: 20px 0;
}
.btn-text {
  padding: 10px 10px;
  color: #fff;
}
.book-btn {
  border: 2px solid var(--effect-color);
  text-align: center;
  width: 160px;
  height: 30px;
  color: #fff;
  border-radius: 3px;
  transition: ease-in-out 0.3s;
  font-size: 1em;
  margin-left: 50px;
  margin-top: 55px;
}
.book-btn:hover {
  background-color: var(--effect-box);
}
.br-text {
  text-align: center;
  margin: 20px;
  border: solid var(--clr-dark) 1px;
  border-radius: 5px;
}
h2 {
  font-size: 20px;
  font-weight: var(--fw-medium);
}
.exhibitions{
  display: flex;
    flex-direction: column;
    align-items: center;
}
.exhibiton-container{
    max-width: 60%;
    border: solid black 2px;
    border-radius: 2%;
    padding: 10px;
}
.exhibiton-container span{
  font-size: 30px;
}
.exhibtion-img{
  max-width: 60%;
}
.button-read-more {
  margin: 20px;
    background-color: cyan;
    width: 140px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
footer {
  background-color: var(--clr-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  max-width: 100%;
  border-radius: 0.5%;
}
.social {
  margin: 10px;
}
.social a {
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
  width: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 5px;
}
.help-nav a {
  margin-right: 40px;
  color: #fff;
}
.footer-bottom {
  font-size: 12px;
  color: #fff;
  margin: 10px;
}
.footer-bottom::before {
  content: '';
  background-color: #fff;
  display: block;
  width: 100%;
  height: 2px;
}
@media screen and (min-width: 498px) {
  .txt-inner-header h1 {
    font-size: 50px;
    margin-top: 20px;
  }
  .txt-inner-header p {
    margin-top: 10px;
    font-size: 1em;
  }
  .book-btn {
    margin-top: 32px;
  }
}
@media screen and (min-width: 767px) {
  .nav-toggle-label {
    display: none;
  }
  .all-nav-bar {
    display: grid;
    grid-template-columns: 1fr auto min-max(600px, 3fr);
  }
  .home-logo {
    grid-column: 2 / 3;
  }
  .container-nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .container-nav a {
    opacity: 1;
  }
  .all-list-ul {
    display: flex;
    margin-right: 3em;
  }
  .all-item-li {
    margin-left: 3em;
  }
  .container-nav a {
    opacity: 1;
  }
  .txt-inner-header p {
    max-width: 70%;
  }
  .txt-inner-header h1 {
    margin-left: 30px;
  }
  .book-btn {
    margin-top: 50px;
  }
  .exhibiton{
    display: flex;
      flex-direction: column;
      align-items: center;
  }
  .exhibiton-container{
      max-width: 30%;
      border: solid black 2px;
      border-radius: 2%;
      padding: 20px;
  }
  .exhibiton-container span{
    font-size: 30px;
  }
  .exhibtion-img{
    max-width: 30%;
  }
  .button-read-more {
    margin: 20px;
      background-color: cyan;
      width: 140px;
      padding: 10px;
      display: flex;
      justify-content: center;
  }
}
@media screen and (min-width: 1520px) {
  .txt-inner-header p {
    max-width: 40%;
  }
  .exb-txt-one p {
    width: 90%;
  }
  .exhibiton{
    display: flex;
      flex-direction: column;
      align-items: center;
  }
  .exhibiton-container{
      max-width: 30%;
      border: solid black 2px;
      border-radius: 2%;
      padding: 20px;
  }
  .exhibiton-container span{
    font-size: 30px;
  }
  .exhibtion-img{
    max-width: 30%;
  }
  .button-read-more{
    margin: 20px;
      background-color: cyan;
      width: 140px;
      padding: 10px;
      display: flex;
      justify-content: center;
  }
}
