@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500&display=swap');
:root {
  --clr-dark: #424b54;
  --fw-thin: 100;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --rgb-background: rgba(65, 62, 62, 0.514);
  --effect-color: #4396a8de;
  --effect-box: rgba(122, 120, 120, 0.925);
  --icon-clr: #ff8c1a;
}
/*  margin: (10pxTOP) (20px Right) (25pxBottom) (10pxLeft); */
* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
}
/*     Mobile M 375  start   */
.banner-img {
  background-image: url(/img/get-involved.jpg);
  max-width: 100%;
  height: 700px;
  background-position: center;
}
.all-nav-bar {
  display: grid;
  text-align: center;
  position: relative;
  width: 100%;
  z-index: 999;
}
.home-logo {
  margin-top: 20px;
  cursor: pointer;
  justify-content: center;
  width: 110px;
}
.container-nav {
  position: absolute;
  top: 100%;
  left: 0%;
  background: var(--clr-dark);
  width: 100%;
  border-radius: 10px;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
.all-list-ul {
  margin: 0;
  padding: 0;
}
.all-item-li {
  margin-bottom: 2em;
  margin-left: 0.3em;
  margin-top: 1em;
  position: relative;
}
.all-item-li a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -30%;
  width: 100%;
  height: 3px;
  background-color: var(--effect-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.4s linear;
}
.all-item-li:hover a::before {
  transform: scaleX(1);
  transform-origin: left;
}
.container-nav a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
.nav-toggle {
  display: none;
}
.nav-toggle-label {
  position: absolute;
  font-size: 20px;
  right: 5%;
  height: 80%;
  display: flex;
  align-items: center;
  color: #000;
  cursor: pointer;
}
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
.banner-txt-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 90%;
  color: #000;
}
.banner-txt-content h1 {
  font-weight: var(--fw-regular);
  font-size: 40px;
  padding: 0;
}

.banner-txt-list {
  color: #000;
  font-weight: var(--fw-light);
  font-size: 28px;
  flex-direction: column;
}
.banner-txt-list li {
  margin: 40px;
  margin-left: 10px;
}

.btn-text {
  padding: 10px 10px;
  color: #000;
}
.book-btn {
  border: 2px solid var(--effect-color);
  width: 160px;
  height: 30px;
  color: #fff;
  border-radius: 3px;
  transition: ease-in-out 0.3s;
  font-size: 1em;
  text-align: center;
}
.book-btn:hover {
  background-color: var(--effect-box);
}
.br-text {
  text-align: center;
  margin: 20px;
  border: solid var(--clr-dark) 1px;
  border-radius: 5px;
}
h2 {
  font-size: 20px;
  font-weight: var(--fw-medium);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}
/*   one   */
.content-one{
  justify-content: center;
align-items: center;
text-align: center;
}
.txt-one{
  border: solid 2px var(--clr-dark);
  width: 90%;
  margin: auto;
  height: 390px;
  border-radius: 3px;
}
.txt-one h4{
  font-weight: var(--fw-regular);
  font-size: 23px;
  }
.txt-one p{
 max-width: 50%;
 text-align: start;
 margin-left: 90px;
 font-weight: var(--fw-light);
}
.fa-people-carry{
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--icon-clr);
}
/*     two    */
.content-two{
  justify-content: center;
align-items: center;
text-align: center;
}
.txt-two{
  border: solid 2px var(--clr-dark);
  width: 90%;
  margin: auto;
  height: 430px;
  border-radius: 3px;
}
.txt-two h4{
  font-weight: var(--fw-regular);
  font-size: 23px;
  }
.txt-two p{
 max-width: 50%;
 text-align: start;
 margin-left: 90px;
 font-weight: var(--fw-light);
}
.fa-graduation-cap{
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--icon-clr);
}

/*    three    */
.content-three{
  justify-content: center;
  align-items: center;
  text-align: center;
}
.txt-three{
  border: solid 2px var(--clr-dark);
  width: 90%;
  margin: auto;
  height: 480px;
  border-radius: 3px;
}
.txt-three h4{
 font-weight: var(--fw-regular);
 font-size: 23px;
 }
.txt-three p{
 max-width: 50%;
 text-align: start;
 margin-left: 90px;
 font-weight: var(--fw-light);
}
.fa-hand-holding-heart{
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--icon-clr);
}
.btn{
  background-color: var(--clr-dark);
  padding: 10px 20px;
  width: 140px;
  border-radius: 3px;
  color: #fff;
 margin-left: 100px;
}
.br-icon img{
  max-width: 70%;
  margin-left: 50px;
}
/*
Don`t delete
*/
footer {
  background-color: var(--clr-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  max-width: 100%;
  border-radius: 0.5%;
}
.social {
  margin: 10px;
}
.social a {
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
  width: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 5px;
}
.help-nav a {
  margin-right: 40px;
  color: #fff;
}
.footer-bottom {
  font-size: 12px;
  color: #fff;
  margin: 10px;
}
.footer-bottom::before {
  content: '';
  background-color: #fff;
  display: block;
  width: 100%;
  height: 2px;
}

/*     Small window Desktop 500px     */
@media screen and (min-width: 498px) {
  .banner-txt-content h1 {
    max-width: 70%;
    margin-left: 10px;
  }
  .br-text {
    margin-top: 20px;
  }

  /*   one   */
.txt-one{
  max-width: 80%;
}
.txt-one p{
  max-width: 60%;
  margin-left: 20%;
  margin-bottom: 70px;

}

/*     two    */
.txt-two{
  max-width: 80%;
  
}
.txt-two p{
  max-width: 60%;
  margin-left: 20%;
  margin-bottom: 70px;
 
}
/*    three    */
.txt-three{
  max-width: 80%;
}
.txt-three p{
  max-width: 60%;
  margin-left: 20%;
  margin-bottom: 70px;
}
.btn{
  margin-left: 110px;
}
.br-icon img{
  margin-left: 80px;
 }
}

/*     Tablet 768px    */
@media screen and (min-width: 767px) {
  .nav-toggle-label {
    display: none;
  }
  .all-nav-bar {
    display: grid;
    grid-template-columns: 1fr auto min-max(600px, 3fr);
  }
  .home-logo {
    grid-column: 2 / 3;
  }
  .container-nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .container-nav a {
    opacity: 1;
    color: #000;
  }
  .all-list-ul {
    display: flex;
    margin-right: 3em;
  }
  .all-item-li {
    margin-left: 3em;
  }
  .banner-txt-list {
    display: flex;
    margin: auto;
    max-width: 80%;
    flex-direction: row;
    margin-top: 150px;
  }
  .banner-txt-content h1 {
    max-width: 50%;
  }
  .banner-txt-content p {
    max-width: 70%;
  }
  /* Delete down here*/
  .br-text {
    margin-top: 20px;
  }
  .container{
    flex-direction: row;
  }
  .txt-one{
    width: 380px;
  }
  .txt-two{
    width: 380px;
  }
  .txt-three{
    width: 380px;
  }
  .br-icon img {
    margin-left: 200px;
  }
}

/* Big Desktop 1530px*/
@media screen and (min-width: 1220px) {
  .txt-one{
    width: 460px;
    height: 480px;
  }
  .txt-one p {
    max-width: 50%;
    margin-left: 26%;
    margin-top: 60px;
    margin-bottom: 40px;
   }
  .txt-two{
    width: 460px;
    height: 480px;
  }
  .txt-two p {
    max-width: 50%;
    margin-left: 26%;
    margin-bottom: 50px;
   }
  .txt-three{
    width: 460px;
    height: 480px;
  }
  .txt-three p{
    margin-bottom: 50px;
  }

  .br-icon img {
    margin-left: 521px;
  }
}
