@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500&display=swap');
:root {
  --clr-dark: #424b54;
  --fw-thin: 100;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --rgb-background: rgba(65, 62, 62, 0.514);
  --effect-color: #4396a8de;
  --effect-box: rgba(122, 120, 120, 0.925);
}

/*  margin: (10pxTOP) (20px Right) (25pxBottom) (10pxLeft); */

* {
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Kanit', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*   Mobile start   */
.banner-img {
  background: url('/img/home-banner-image.jpg') no-repeat center / cover;
  max-width: 100%;
  min-height: 800px;
}

/*   Navigation bar start   */
.all-nav-bar {
  display: grid;
  text-align: center;
  position: relative;
  width: 100%;
  z-index: 999;
}
.home-logo {
  margin-top: 20px;
  cursor: pointer;
  justify-content: center;
  height: 60%;
}
.container-nav {
  position: absolute;
  top: 100%;
  left: 0%;
  background: var(--clr-dark);
  width: 100%;
  border-radius: 10px;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
.all-list-ul {
  margin: 0;
  padding: 0;
}
.all-item-li {
  margin-bottom: 2em;
  margin-left: 0.3em;
  margin-top: 1em;
  position: relative;
}
.all-item-li a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -30%;
  width: 100%;
  height: 3px;
  background-color: var(--effect-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.4s linear;
}
.all-item-li:hover a::before {
  transform: scaleX(1);
  transform-origin: left;
}
.container-nav a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
.nav-toggle {
  display: none;
}
.nav-toggle-label {
  position: absolute;
  font-size: 20px;
  right: 5%;
  height: 80%;
  display: flex;
  align-items: center;
  color: #fff;
}
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
/*Navigation bar End*/

/*Header texts Start*/
.text-header {
  background: var(--rgb-background);
  border-radius: 3px;
  height: 500px;
  margin: 2%;
  padding: 0;
  max-width: 730px;
  display: flex;
  flex-direction: column;
}
.main-text {
  font-size: 2em;
  color: #fff;
  margin-top: 20px;
  width: 80%;
  margin-left: 25px;
  font-weight: var(--fw-regular);
}
.under-text {
  color: #fff;
  max-width: 80%;
  margin-top: 5px;
  margin-left: 25px;
  font-weight: var(--fw-light);
  font-size: 1em;
}
.btn-text {
  padding: 10px 10px;
  color: #fff;
}
.book-btn {
  border: 2px solid var(--effect-color);
  text-align: center;
  width: 160px;
  height: 30px;
  color: #fff;
  border-radius: 3px;
  transition: ease-in-out 0.3s;
  font-size: 1em;
  margin-left: 25px;
  margin-top: 20px;
}
.book-btn:hover {
  background-color: var(--effect-box);
}
/*Header texts End*/
.br-text {
  text-align: center;
  margin: 20px;
  border: solid var(--clr-dark) 1px;
  border-radius: 5px;
}
h2 {
  font-size: 20px;
  font-weight: var(--fw-medium);
}

/*    Kids start   */
.explore-together {
  border: solid 1px red;
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}

.explore-together .cards-content {
  border: solid 2px var(--clr-dark);
  border-radius: 3px;
  position: relative;
  max-width: 420px;
  height: 400px;
  margin: 40px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease-in-out;
}

.explore-together .cards-content:hover {
  height: 640px;
}
.explore-together .cards-content .img-box {
  position: relative;
  width: 420px;
  height: 280px;
  top: -60px;
  z-index: 1;
}

.explore-together .cards-content .img-box img {
  max-width: 100%;
  border-radius: 3px;
}

.explore-together .cards-content .text-content {
  position: relative;
  margin-top: 140px;
  padding: 40px 15px;
  text-align: start;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.explore-together .cards-content:hover .text-content {
  visibility: visible;
  margin-top: -40px;
  opacity: 1;
  transition-delay: 0.3s;
}
.text-content h3 {
  font-weight: var(--fw-regular);
  font-size: 24px;
}
.text-content p {
  font-weight: var(--fw-light);
}
/*
*/
.btn-expo {
  margin: 5px;
  background-color: var(--clr-dark);
  padding: 10px 20px;
  color: #fff;
  border-radius: 3px;
}

/*     Desktop      */
@media screen and (min-width: 498px) {
  .main-text {
    font-size: 50px;
    margin-top: 20px;
  }
  .under-text {
    margin-top: 10px;
    font-size: 1em;
  }
  .br-text {
    margin-top: 20px;
  }
  .left-img-teachers {
    width: 100%;
    min-height: 360px;
  }
}

@media screen and (min-width: 767px) {
  .nav-toggle-label {
    display: none;
  }
  .all-nav-bar {
    display: grid;
    grid-template-columns: 1fr auto min-max(600px, 3fr);
  }
  .home-logo {
    grid-column: 2 / 3;
  }
  .container-nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .container-nav a {
    opacity: 1;
  }
  .all-list-ul {
    display: flex;
    margin-right: 3em;
  }
  .all-item-li {
    margin-left: 3em;
  }
  .container-nav a {
    opacity: 1;
  }
  /*Navigation bar End*/
  .text-header {
    max-width: 980px;
  }
  .main-text {
    font-size: 60px;
    margin-top: 20px;
  }
  .under-text {
    margin-top: 10px;
    font-size: 1.5em;
  }
  .br-text {
    margin-top: 20px;
  }
}
