@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500&display=swap');
:root {
  --clr-dark: #424b54;
  --fw-thin: 100;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --rgb-background: rgba(65, 62, 62, 0.514);
  --effect-color: #4396a8de;
  --effect-box: rgba(122, 120, 120, 0.925);
  --icon-clr: #ff8c1a;
}
* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: 'Kanit', sans-serif;
  margin: 0;
  padding: 0;
}
.banner-img {
  background: url('/img/visit.jpg') no-repeat center / cover;
  max-width: 100%;
  min-height: 800px;
}
.all-nav-bar {
  display: grid;
  text-align: center;
  position: relative;
  height: 100px;
  width: 100%;
  z-index: 999;
  background-color: #424b54;
}
.home-logo {
  margin-top: 0;
  cursor: pointer;
  justify-content: center;
  height: 60%;
}
.container-nav {
  position: absolute;
  top: 100%;
  left: 0%;
  background: var(--clr-dark);
  width: 100%;
  border-radius: 10px;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}
.all-list-ul {
  margin: 0;
  padding: 0;
}
.all-item-li {
  margin-bottom: 2em;
  margin-left: 0.3em;
  margin-top: 1em;
  position: relative;
}
.all-item-li a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -30%;
  width: 100%;
  height: 3px;
  background-color: var(--effect-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.4s linear;
}
.all-item-li:hover a::before {
  transform: scaleX(1);
  transform-origin: left;
}
.container-nav a {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
.nav-toggle {
  display: none;
}
.nav-toggle-label {
  position: absolute;
  font-size: 20px;
  right: 5%;
  height: 80%;
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
}
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
.text-header {
  background: var(--rgb-background);
  border-radius: 3px;
  height: 500px;
  margin-top: 100px;
  padding: 0;
  max-width: 730px;
  display: flex;
  flex-direction: column;
}
.header-container {
  display: flex;
  flex-direction: column;
}
.main-text {
  font-size: 2em;
  color: #fff;
  margin-top: 20px;
  width: 80%;
  margin-left: 25px;
  font-weight: var(--fw-regular);
}
.under-text {
  color: #fff;
  max-width: 80%;
  margin-top: 5px;
  margin-left: 25px;
  font-weight: var(--fw-light);
  font-size: 1em;
}
.btn-text {
  padding: 10px 10px;
  color: #fff;
}
.book-btn {
  border: 2px solid var(--effect-color);
  text-align: center;
  width: 160px;
  height: 30px;
  color: #fff;
  border-radius: 3px;
  transition: ease-in-out 0.3s;
  font-size: 1em;
  margin-left: 25px;
  margin-top: 20px;
}
.book-btn:hover {
  background-color: var(--effect-box);
}
.aside-info {
  text-align: center;
  height: 580px;
  border: solid 2px var(--clr-dark);
  justify-content: center;
  align-items: center;
}
.icon-visit {
  margin-top: 0;
}
.email {
  width: 190px;
  text-align: center;
}
.small-text {
  max-width: 100%;
  margin-left: 10px;
  font-weight: var(--fw-light);
}
.btn-email {
  padding: 5px 20px;
  background-color: #424b54;
  border-radius: 2px;
  color: #fff;
}
.br-text {
  text-align: center;
  margin: 20px;
  border: solid var(--clr-dark) 1px;
  border-radius: 5px;
}
h2 {
  font-size: 20px;
  font-weight: var(--fw-medium);
}
.time-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.time-date-content {
  border: 2px solid var(--clr-dark);
  width: 300px;
  margin: 20px;
}
.header-text {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.items {
  display: flex;
}
.date {
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid var(--clr-dark);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 20px;
}
.fa-calendar-alt {
  color: #ff8c1a;
  margin-bottom: 65px;
}
.btn-event {
  background-color: var(--clr-dark);
  padding: 5px 10px;
  border-radius: 3px;
  color: #fff;
}
.contact-box {
  width: 95%;
  border-radius: 5px;
  height: 760px;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: var(--clr-dark);
  text-align: center;
}
.contact-map {
  max-width: 100%;
  height: auto;
  flex: 50%;
}
.contact-map iframe {
  width: 100%;
  height: 100%;
}
.contact-form {
  width: 100%;
  height: auto;
  flex: 50%;
}
.contact-form h5 {
  font-size: 26px;
  font-weight: var(--fw-regular);
  color: #fff;
}
.txt-name {
  width: 70%;
  height: 40px;
  border: 2px solid var(--clr-dark);
  margin-bottom: 20px;
  border-radius: 3px;
  outline: none;
}
.txt-email {
  width: 70%;
  height: 40px;
  border: 2px solid var(--clr-dark);
  margin-bottom: 20px;
  border-radius: 3px;
  outline: none;
}
.txt-mes {
  width: 70%;
  height: 100px;
  border: 2px solid var(--clr-dark);
  margin-bottom: 20px;
  border-radius: 3px;
  outline: none;
}
.btn-sub {
  outline: none;
  width: 30%;
  border: none;
  background-color: var(--effect-color);
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
}
.u-universal-box {
  max-width: 95%;
  height: auto;
  margin-top: 20px;
  margin-left: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.access {
  width: 95%;
  height: 460px;
  border: 2px solid var(--clr-dark);
  text-align: center;
  margin: 0 0 10px 10px;
}
.access h6 {
  font-size: 20px;
  font-weight: var(--fw-regular);
}
.access p {
  font-size: 14px;
  font-weight: var(--fw-light);
}
.fa-accessible-icon {
  color: var(--icon-clr);
  margin: 35px;
}
.admin {
  width: 95%;
  height: 520px;
  margin-left: 10px;
  border: 2px solid var(--clr-dark);
  text-align: center;
}
.admin h6 {
  font-size: 20px;
  font-weight: var(--fw-regular);
}
.admin p {
  font-size: 14px;
  font-weight: var(--fw-light);
  max-width: 80%;
  margin-left: 25px;
}
.btn-admin {
  margin: 0 60px;
  padding: 5px 5px;
  color: #fff;
  border-radius: 3px;
  background-color: var(--clr-dark);
}
.fa-ticket-alt {
  color: var(--icon-clr);
  margin: 30px;
}
.btn-access {
  margin: 0 60px;
  padding: 5px 5px;
  color: #fff;
  border-radius: 3px;
  background-color: var(--clr-dark);
}
.shop-food-box {
  display: block;
}
.food-txt {
  border: 2px solid var(--clr-dark);
  border-radius: 3px;
  width: 100%;
  align-items: center;
  padding-bottom: 30px;
}
.food-txt h6 {
  font-weight: var(--fw-regular);
  text-align: center;
  font-size: 20px;
}
.food-txt p {
  max-width: 80%;
  font-weight: var(--fw-light);
  margin-left: 30px;
}
.food-img {
  height: 460px;
  max-width: 90%;
  background: url('/img/cafe.jpg') no-repeat center / cover;
  margin-bottom: 20px;
  margin: auto;
}
.shop-txt {
  border: 2px solid var(--clr-dark);
  border-radius: 3px;
  width: 100%;
  padding-bottom: 20px;
}
.shop-txt h6 {
  font-weight: var(--fw-regular);
  font-size: 20px;
  text-align: center;
}
.shop-txt p {
  font-weight: var(--fw-light);
  max-width: 70%;
  margin-left: 50px;
}
.shop-img {
  height: 460px;
  max-width: 90%;
  margin: auto;
  background: url('/img/shop.jpg') no-repeat center / cover;
}
footer {
  background-color: var(--clr-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  max-width: 100%;
  border-radius: 0.5%;
}
.social {
  margin: 10px;
}
.social a {
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
  width: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 5px;
}
.help-nav a {
  margin-right: 40px;
  color: #fff;
}
.footer-bottom {
  font-size: 12px;
  color: #fff;
  margin: 10px;
}
.footer-bottom::before {
  content: '';
  background-color: #fff;
  display: block;
  width: 100%;
  height: 2px;
}
@media screen and (min-width: 498px) {
  .main-text {
    font-size: 50px;
    margin-top: 20px;
  }
  .under-text {
    margin-top: 10px;
    font-size: 1em;
  }
  .header-container {
    display: flex;
    flex-direction: column;
  }
  .small-text {
    max-width: 60%;
    margin-left: 100px;
  }
  .btn-email-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .access p {
    max-width: 70%;
    margin-left: 60px;
  }
  .admin p {
    margin-left: 50px;
  }
  .btn-access {
    width: 35%;
    margin-left: 145px;
  }
  .btn-admin {
    width: 35%;
    margin-left: 145px;
  }
  .fa-ticket-alt {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 767px) {
  .nav-toggle-label {
    display: none;
  }
  .all-nav-bar {
    display: grid;
    grid-template-columns: 1fr auto min-max(600px, 3fr);
    background-color: #424b54;
  }
  .home-logo {
    grid-column: 2 / 3;
  }
  .container-nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .container-nav a {
    opacity: 1;
  }
  .all-list-ul {
    display: flex;
    margin-right: 3em;
  }
  .all-item-li {
    margin-left: 3em;
  }
  .container-nav a {
    opacity: 1;
  }
  .text-header {
    max-width: 980px;
  }
  .main-text {
    font-size: 60px;
    margin-top: 20px;
  }
  .under-text {
    margin-top: 10px;
    font-size: 1.5em;
  }
  .header-container {
    display: flex;
    flex-direction: row;
  }
  .banner-img {
    max-width: 75%;
    background-position: right;
  }
  .aside-info {
    height: 800px;
  }
  .small-text {
    max-width: 70%;
    margin-left: 75px;
  }
  .icon-visit {
    margin-top: 120px;
  }
  .time-date {
    display: flex;
    flex-direction: row;
  }
  .contact-box {
    flex-direction: row;
    height: auto;
  }
  .txt-name {
    width: 40%;
  }
  .txt-email {
    width: 40%;
    margin: 20px 70px;
  }
  .txt-mes {
    width: 40%;
    margin: 10px 110px;
  }
  .u-universal-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .admin {
    width: 460px;
    height: 460px;
  }
  .access {
    width: 460px;
    height: 460px;
    margin-bottom: 0;
    margin-right: 20px;
  }
  .access p {
    max-width: 70%;
    margin-left: 60px;
  }
  .admin p {
    margin-left: 50px;
  }
  .btn-access {
    width: 40%;
   margin: auto;
  }
  .btn-admin {
    width: 40%;
   margin: auto;
  }
  .fa-accessible-icon {
    margin-bottom: 20px;
    margin-top: 70px;
  }
  .fa-ticket-alt {
    margin: 0;
  }
  .food-txt {
    max-width: 30%;
  }
  .shop-txt {
    max-width: 30%;
  }
  .shop-food-box {
    display: inline-flex;
  }
  .fa-ticket-alt {
    margin-bottom: 50px;
  }.shop-img{
  width: 40%;
  }
  .food-img{
    width: 40%;
  }
}
@media screen and (min-width: 1023px){
  .shop-img{
  width: 40%;
  }
  .food-img{
    width: 40%;
  }
}
